In [8]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Pakistan DemoGraphic/Age_Group_Gender_Distribution.csv')

In [6]:
df

,Unnamed: 0,Age Group,Male,Female,Total,Sex ratio,Percent
0,NaN,Total,"123,824,681","116,613,077","240,458,089",106.12,100.0%
1,0.0,0 – 4,18744989,17726432,36471421,105.1,14.0%
2,1.0,5 – 9,16566852,15705284,32272136,108.8,14.5%
3,2.0,10 – 14,14971914,13817137,28790182,111.8,11.8%
4,3.0,15 – 19,12581753,11569893,24154118,108.0,10.3%
5,4.0,20 – 24,10323755,10141864,20468713,100.0,8.9%
6,5.0,25 – 29,8946770,9016962,17967161,98.8,7.9%
7,6.0,30 – 34,7730953,8026004,15759670,96.4,6.8%
8,7.0,35 – 39,7313967,7047727,14364278,102.2,5.8%
9,8.0,40 – 44,6471820,6063242,12536758,101.5,4.6%
10,9.0,45 – 49,5095175,4624839,9721110,104.9,3.8%
11,10.0,50 – 54,4219234,3827003,8047113,110.4,3.3%
12,11.0,55 – 59,3455455,2933026,6388995,113.8,2.4%
13,12.0,60 – 64,2247341,2063695,4311861,108.9,2.1%
14,13.0,65 – 69,1557733,1393718,2952013,111.8,1.4%
15,14.0,70 – 74,1131916,1001805,2134220,113.0,1.0%
16,15.0,75 or more,1338251,1287621,2626523,103.9,1.26%
17,16.0,Age Group,Male,Female,Total,Sex ratio,Percent
18,17.0,0 – 14,43533720,40182776,83 716 496,108.3,40.3%
19,18.0,15 – 64,58778374,57478712,116257086,102.3,56.0%
20,19.0,65+,4027900,3683144,7711044,109.4,3.7%